<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/burger.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burger.js"></script>
		<title>Eat Da BUrger!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>