{{!-- main page title --}}
<div class="container">
  <div class="row">
    <div class="col-12">
      <center>
        <img src="./assets/images/cute-buns.png" alt="cartoon cheeseburger with the words cute buns" width="25%" id="title-image">
        <h1>Welcome!</h1>
        <br>
        <h1>Thanks for checking out my <b><u>Cute Buns!</u></b></h1>
        <h4><i> * A classy burger joint * </i></h4>
        <br>
        <hr>
        {{!-- burger form to add burger to the list --}}
        <h2> What do you like between <i>YOUR </i>  buns? </h2> 
        <h2> Add a favorite burger here! </h2>
        <form class="create-form col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Type burger name here...."id="burg" name="burger_name">
          </div>
          <div class="form-group">
            {{!-- <label for="devoured"></label><br> --}}
            <input type="radio" name="devoured" value="0"> Put it on the plate! <br>
            <input type="radio" name="devoured" value="1" checked> I devoured this! 
          </div>
          <button type="submit">Add Burger</button>
        </form>
      </center>
    </div>
  </div>
</div>
<hr>
{{!-- left column --}}
<div class="container">
  <div class="row"> 
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="left-burger-column"> 
      <center>
        <h3>On the Plate!</h3>
        <br>
        <h5>(click the hungry face to devour the burger)</h5>
      </center>
      <ul id="burger-input">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devour=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    {{!-- right column --}}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="right-burger-column">
      <center>
        <h3>Burgers Devoured!!</h3>
        <br>
        <h5>(click the plate to put the burger back on the plate)</h5>
      </center>
      <ul id="burger-input">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devour=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<footer>
  <center>
    <p class="footer"> © Copyright 2020 <i>JodesCodes</i> </p>
  </center>
</footer>

