body {
  background: #d6dde1;
  font-family: "Quicksand";
}

#title-image {
  margin-top: 20px;
}

#mid-container {
  padding-bottom: 5%;
}

#left-burger-column {
  text-align: left;
}

#right-buger-column {
  text-align: right;
}

#burger-input {
  text-align: center;
  font-size: 20pt;
  margin-top: 1rem;
  padding-bottom: 2%;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
  background: #d6dde1;
}

.footer {
  padding-top: 5%;
  padding-bottom: 5%;
}

.change-devour, .delete-burger {
  border-color: #d6dde1;
  box-shadow: aqua;
}