body {
  background: #d6dde1;
  font-family: "Quicksand";
}

/* ====================== */
/* Welcome header and image */
/* ====================== */
h1 {
  font-weight: bold;
  padding-top: 30px;
}

.image-bg {
  background-color: white;
}

h4 {
  padding-bottom: 20px;
}
/* ====================== */
/* Menu */
/* ====================== */
#mid-container {
  padding-bottom: 5%;
}

#left-burger-column {
  text-align: left;
}

#right-buger-column {
  text-align: right;
}

#burger-input {
  text-align: right;
  font-size: 20pt;
  margin-top: 1rem;
  padding-bottom: 2%;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
  background: #d6dde1;
}

h6 {
  color: gray;
}

button:hover {
  transform: scale(1.5); 
}

/* ====================== */
/* Footer */
/* ====================== */
footer {
  text-align: center;
  background-color: #676c6d7a;
  margin-top: 20px;
}

span {
  font-family: "Euphoria Script", cursive;
}

.fa-icon {
  color: aqua;
  padding: 5px;
}
.fa-icon:hover {
  color: deeppink;
}

.signature {
  color: aqua;
  font-size: 25px;
}
.signature:hover {
  color: deeppink;
}