body {
  background: #d6dde1;
  font-family: "Quicksand";
}

#title-image {
  margin-top: 20px;
}

#left-burger-column {
  text-align: left;
}

#right-buger-column {
  text-align: right;
}

#burger-input {
  text-align: center;
  font-size: 14pt;
  margin-top: 1rem;
  padding-bottom: 2%;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
  background: #d6dde1;
}

.footer {
  padding-top: 5%;
  padding-bottom: 5%;
}